* {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    background-color: #29292f;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -150px);
}

.title {
    color: #FFF;
    font-size: 2em;
}

.api {
    position: absolute;
    bottom: 10px;
    color: #a5a5a5;
    font-size: 1em;
}

.api span {
    font-weight: 700;
}